/* Give your page a fun background color */
html {
    background-color: tan;
}
/* Make the header and footer a different color from the background */
header, footer {
    text-align: center;
    background-color: rgba(120, 80, 52, 0.964);
}
div {
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
h2 {
    text-align: left;
}
/* Change the font-family of your list */
li {
    margin: auto;
    text-align: left;
    padding: 2px 2px;
    font-family: 'Times New Roman', Times, serif;
}
/* Make your p tag a different color and italic */
p {
    color: #000000;
}
/* Put a border around your image */
img {
    border: 8px solid gold;
    width: 15%;
    height: auto;
}